<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="com.example.permission.RECEIVE_MY_BROADCAST" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WallpaperService"
        tools:targetApi="33">

        <service
            android:name=".WallpaperService"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999999">

                <action android:name="com.sunmi.wallpaperservice.WallpaperService" />

            </intent-filter>
        </service>

        <receiver
            android:name=".StartServiceReceiver"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="999999">

                <!-- 开机广播 -->
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
                <action android:name="com.sunmi.baseservice.RECEIVE_SUNMI_PUSH"/>

                <action android:name="com.example.MY_CUSTOM_ACTION"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="sunmi.intent.action.BOOT_COMPLETED" />

                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

    </application>


</manifest>